* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.header {
    background-color:#051922;
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.main-menu-wrap {
    width: 1000px;
}

.header h2 {
    color: blanchedalmond;
}

.header h2 a {
    text-decoration: none;
    color: white;
}

.ul-header {
    width: 100%;
    gap: 5rem;
    display: flex;
    justify-content: center;
}

.gallery {
    width: 100%;
    height: 775px;
    background-image: url('/assets/img/img gallery.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle h1 {
    font-size: 64px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle p {
    font-size: 15px;
    color: #F28123;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_title{
    font-weight: bold;
}
.gallery_bar {
    width: 100%;
    height: 398px;
    background-color: #E1E1E166;
}
.reviews{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}
.calcprice{
    display: flex;
    justify-content: space-between;

}
.content p{
    font-size: 1.3rem;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.7rem;

}

.control{
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}
.control button{
    border: none;
    background: rgb(206, 206, 206);
}

.reviews i{
    color: #F28123;
    font-size: 2rem;
}
.reviews span{
    color: gray;
    font-size: 2rem;
}


.pricekg{
    color:gray;
    font-size: 2.3rem;
    margin-top: 10rem;
}
.calcprice h3{
    font-size: 3rem;
    font-weight: bold ;
}
.card_cart{
    cursor: pointer;
    width: 25rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F28123;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    
}
.card_cart p{
    padding: 1.5rem;
    font-size: 1.5rem;
}

.gallery_wrapper {
    width: 100%;
    padding: 3rem 8rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

.gallery_card {
    width: 1372px;
    height: 672px;
    border-radius: 48px;
    background: #fff;
    box-shadow: 0px 3px 47px rgb(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.gallery_card .image {
    width: 100%;
    height: 100%;
    background-color: #ffffff66;
    
    background-position: center;
    background-size: cover;
}/*
.gallery_card .image {
    width: 100%;
    height: 100%;
    background-color: #ffffff66;
    background-image: url('/assets/img/.jpg');
    background-position: center;
    background-size: cover;
}.gallery_card .image {
    width: 100%;
    height: 100%;
    background-color: #ffffff66;
    background-image: url('/assets/img/raspberry.png');
    background-position: center;
    background-size: cover;
}.gallery_card .image {
    width: 100%;
   /*height: 100%;
    background-color: #ffffff66;
    background-image: url('/assets/img/kiwi.jpg');
    background-position: center;
    background-size: cover;
}*/



.gallery_card .content{
    width: 100%;
    height: 100%;
    background-color: #ffffff66;
    border-radius: 2rem;
}
.card_image img {
    mix-blend-mode: multiply;
}

@media screen and (max-width: 602px) {
    .gallery_card{
        flex-direction: column;
        height: max-content;
        width: 90vw;
        border-radius: 1rem;
    }

    .card_cart{
        width: 100%;
    }
    .gallery_card .image {
       height: 30rem;
    }
  
    .header .main-menu {
        display: none;
    }
    .subtitle h1{
        font-size: 30px;  
    }
    .subtitle h1{
        font-size: 20px;
    }
    .gallery_card .content{
        height: 50%;
    }

}    